.background-imgd {
  background: url("../../../assets/Notebook.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.containerd {
  height: 100%;
}
.cursiveHeader{
  font-family: 'Chewy', cursive;
  font-size:xx-large
}
.cursiveBody{
  font-size: 25px;
  font-family: 'Chewy', cursive;

}