<div class=""> 
    <div class="background-img">
      <div class="background-imgd">
      <div class="row col 11">
          <div class="col offset-1 col-5">
              <p class="cursiveHeader pt-2">Welcome my friend to Fantasy Fishing!</p>
              <p class="cursiveBody pb-0">Trophy fishes abound our waters and it's up to you to catch them.</p>
              <p class="cursiveBody">But before you can do that you need to select your location. </p>
             <img class="pt-3 offset-2" height="207px" src="/assets/MountainsSticker.png"/>
              <p class="cursiveBody pt-3">After traveling to your location, you will use the slider bar on the<br>left of your screen to adjust the depth of your cast.</p>
              <video width="100%" height="350" autoplay loop muted>
                  <source src="assets/Cast.mp4" type="video/mp4">
              </video>
              <div class="m-5"><br></div>
          </div>
          <div class="col offset-1 col-4 cursiveBody">
              <br><br><br>
              Adjust your depth using the Slider Bar and click the 'Cast Line' button
          when you're ready to fish!<br />
          Sometimes the fish just aren't biting and that's ok! When you do make a
          catch, you can either keep it by adding it to your Caught List and sell
          it, or release it. You can also purchase upgrades for your tools and buy a
          special potion to clean up the waters.<br />
          Your Caught List can be viewed by clicking the 'User' page above. Here you
          will find a Leaderboard of all fishers and the Trophies you've earned so
          keep fishing in the All Blue and don't forget to check your profile often
          to see if you've earned anything new!
          <br> <br>
          Be sure to head over to the music page to put on some tunes while you're fishing.
        
        <p>Happy Fishing!</p>
    
              <div>Welcome my fisher friend to Fantasy Fishing!</div>
          </div>
      </div>
  </div>
  </div>
  </div>