<header *ngIf="loggedIn">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bar-color box-shadow mb-0"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
        [ngClass]="{ show: isExpanded }"
      >
      <div class="navbar-nav flex-grow">
        <button (click)="this.getMusicPlayer()"class="btn p0"><img height=25px src="assets/music.png"></button>
        <button (click)="GetInstuctions()" class="border-0">Instructions</button>

      </div>
      
        <ul class="navbar-nav flex-grow">

          <li>
            <a class="nav-link text-dark" *ngIf="!loggedIn" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" *ngIf="loggedIn" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fishing']">Fishing</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/caughtFish']">Caught</a>
          </li>
          <li class="nav-item">
            <!-- <asl-google-signin-button *ngIf="!loggedIn" type='icon' size='medium'></asl-google-signin-button> -->
            <button class="btn btn-outline-dark" *ngIf="loggedIn"  [routerLink]="['/']" (click)="signOut()">Sign Out</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
          <!--Hide Insturctions-->
          <div *ngIf="openSettings == false && hideMusicPlayer == false">
          </div>
<div *ngIf="openSettings == true">
  <div class="card text-center col-8 p-0 offset-2">
      <h4 class="card-header text-center">Settings</h4>
      <br>
      <p>Choose a song from on the one's listed below song:</p>
      <div class="card-group-fluid text-white">
          <button class="col-.8" (click)="playaudioBlueRock();"><img height="25px" src="assets/play.png"/><br>Blue Rock</button>   |      |  
          <button class="col-.8" (click)="playaudioSunBeam();"><img height="25px" src="assets/play.png"/><br>Sun Beam</button>   |      |
          <button class="col-.8" (click)="playaudioSoCloudy();"><img height="25px" src="assets/play.png"/><br>So Cloudy</button>   |      |
          <button class="col-.8" (click)="playaudioSmoothMF();"><img height="25px" src="assets/play.png"/><br>Smooth MF</button>   |      |
          <button class="col-.8" (click)="playaudioScuffItUp();"><img height="25px" src="assets/play.png"/><br>Scuff It Up</button>   |      |
          <button class="col-.8" (click)="playaudioMeds();"><img height="25px" src="assets/play.png"/><br>Meds</button>   |      |
          <button class="col-.8" (click)="playaudioFocus();"><img height="25px" src="assets/play.png"/><br>Focus</button>   |      |
          <button class="col-.8" (click)="playaudioSpacedOut();"><img height="25px" src="assets/play.png"/><br>Spaced Out</button>   |      |
          <button class="col-.8" (click)="playaudioSweetLikeCandy();"><img height="25px" src="assets/play.png"/><br>Sweet Like Candy</button>   |      |
          <button class="col-.8" (click)="playaudioYeaYeaYea();"><img height="25px" src="assets/play.png"/><br>Yea, Yea, Yea</button>   |      |
          <button class="col-.8" (click)="playaudioWavy();"><img height="25px" src="assets/play.png"/><br>Wavy</button>   |      |

          <br><br>
          <button class="col-.8" (click)="pauseMusic();"><img height="25px" src="assets/pause.png"/><br>Pause</button>   |      |  

      </div>
      <p class="text-center mb-1 pb-0">More songs are available for purchase in the shop. All songs made by Chris Washington.<br><br>Follow him on social media at any of the links below.</p>
      <div class="card pt-0 pb-2 border-0">
          <div class="text-center text-white">
              <a href ="https://soundcloud.com/chris-washington-30"><img height="36px" src="assets/soundcloud.jpg"/></a>     |          |     
              <a href ="https://music.apple.com/us/artist/lilcuz/1502809696/"><img height="36px" src="assets/apple.png"/></a>     |          |     
              <a href ="https://open.spotify.com/artist/24ZVDXKbHmHHW9JiYd4RbC?si=uYFjRfnbT8u08mK2hzXy1g&nd=1"><img height="36px" src="assets/spotify.png"/></a>     |         |      
              <a href ="https://www.youtube.com/channel/UC5DDdF4FXy19ZWG811AcaoQ"><img height="36px" src="assets/youtube.png"/></a>     |          |     
          </div>
          <button class="col-4 offset-4" (click)="Hide2()">Close</button>
  </div>
</div>
</div>   
              <!--Open Settings-->
      
                <!-- <li
                  class="nav-item"
                  [routerLinkActive]="['link-active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                > -->
      
          <!--Hide Insturctions-->
          <div *ngIf="showInstructions == false && hideInstructions == false">
        </div>
      
        <!--Insturctions-->
        <div *ngIf="showInstructions == true" class="pb-0">
            <div class="card text-center col-8 offset-2 border-1 pb-0">
                <h4 class="card-header text-center">Welcome to the All Blue.</h4>
                <br>
                <p>
                    Here any and all fish can be caught.<br>
                    Adjust your depth using the meter on the left and click the cast button when you're ready to fish.<br>
                    Sometimes the fish just aren't biting, but if you do catch something, you can either keep it and add it
                    to your profile, sell it, or release it.<br>
                    Your caught list can be viewed over on your user profile. It will also display the trophies you've earned
                    and a few other things so keep fishing in the All Blue and don't forget to check your profile often to see
                    if you've earned anything new.
                </p>
                <p>Happy Fishing!</p>
                <button class="col-4 offset-4" (click)="Hide2()">Close</button>
            </div>
        </div>
