#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 1;
    bottom: 0;
    z-index: -1;
  }
  .myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .background-img {
    background-image: url("/assets/Water.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* .circle{
    height:100px;
    width:100px;
    border: radius 50%;
    background-color:green;
  } */