<div class="background-img">
    <!--Video Background-->
    <!-- <div class="m-0 myVideo" *ngIf="loggedIn && hideBackground == false">	
	<div class="pt-5 mt-5"></div>
	<video id="background-video" autoplay loop>
		<source src="assets/Water.mp4" type="video/mp4">
	</video>
    <button (click)="hideBackground = true">Hide BG</button> -->


    <!--Slider Bar-->
    <div class="card col-4 offset-3 bg-gray">
        <div class="p-2" style="height: 400px;" *ngIf="casted == false"><!--hide the slider-->
            <ngx-slider [(value)]="value" [options]="options" (userChange)="sliderChange()"></ngx-slider>
        </div>
    </div>
    <!--Cast Line button and flavor text-->
    <button class="offset-4" (click)="getSingleFish()" *ngIf="casted == false && value != 0">Cast Line</button>


    <div class="card col-6 offset-3" *ngIf="displayReel == true">
        <h3 class="text-center"><b>Looks like Something's Biting!!!</b></h3>
    </div>

    <!--Failure text-->
    <div class="card col-8 offset-2 bg-gray" *ngIf="tryAgain == true">
        <h3>Not even a nibble... Reel your line in and try again!</h3>
        <button (click)="Hide()">Reel In</button>
    </div>

    <!--Trash Collector-->
    <div class="card col-8 offset-2 bg-gray" *ngIf="catchTrash == true">
        <h3>Looks like you caught some seaweed... Better luck next time.</h3>
        <!-- <h3 *ngFor="let t of trashes">Looks like you caught some seaweed... Better luck next time.</h3> -->
        <img height="200px" src="/assets/Seaweed.jpg">
        <button (click)="Hide()">Reel In</button>
    </div>

    <!--Catch Nemo-->
    <div class="card col-8 offset-2 bg-gray imgSize" *ngIf="catchNemo == true">
        <h3>Looks like you caught Nemo... Throw him back, he's gotta find his dad.</h3>
        <!-- <h3 *ngFor="let t of trashes">Looks like you caught some seaweed... Better luck next time.</h3> -->
        <img  height="200px" width="auto"src="/assets/nemo.jpg">
        <button (click)="Hide()">Reel In</button>
    </div>

    <!--Cast Line button and flavor text-->
    <div class="card col-4 offset-4 bg-gray" *ngIf="displayRandom == true">
        <p class="card-header">{{ AllFish[this.random].name }}</p>
        <img src="{{ AllFish[this.random].img_Src_Set.link1}}">
        <button
            (click)="addCaughtFish(AllFish[this.random].name, AllFish[this.random].img_Src_Set, AllFish[this.random].meta.scientific_Classification)">🎣📋</button>
        <button (click)="Hide()">Release</button>
    </div>



    <!-- <div class="circle"></div> -->
    <!--ACHIEVEMENT Badge-->
    <!-- <div class="fixed-bottom align-itmes-end">
        <div class=" b-0 offset-3 p-2">
            <div>
                <img src="assets/5FishA.png">
            </div>
        </div>
    </div> -->
</div>

