<div class="background-img">


    <!--Slider Bar-->
    <div class="card col-4 offset-3 col-md-2  bg-gray1">
        <div class="p-2 custom-slider low-pointer-label" style="height: 400px;" *ngIf="casted == false"><!--hide the slider-->
            <ngx-slider [(value)]="value" [options]="options" (userChange)="sliderChange()"></ngx-slider>
        </div>
    </div>

    <!--Cast Line button and flavor text-->
    <button class="offset-3" (click)="getSingleFish()" style="height: 50px" *ngIf="casted == false && value != 0">Cast Line</button>

    <div class="card col-6 offset-3" *ngIf="displayReel == true">
        <h3 class="text-center"><b>Looks like Something's Biting!!!</b></h3>
    </div>

    <!--Failure text-->
    <div class="card col-8 offset-2 bg-gray" *ngIf="tryAgain == true">
        <h3>Not even a nibble... Reel your line in and try again!</h3>
        <button (click)="Hide()" style="height: 50px">Reel In</button>
    </div>

    <!--Trash Collector-->
    <div class="card col-md-4 col-8 offset-2 offset-md-4" *ngIf="catchTrash == true">
        <h3>Looks like you caught some seaweed... Better luck next time.</h3>
        <img class="img-fluid offset-0" src="/assets/Seaweed.jpg">
        <button (click)="Hide()" style="height: 50px">Reel In</button>
    </div>

    <!--Catch Nemo-->
    <div class="card col-md-4 col-8 offset-2 offset-md-4" *ngIf="catchNemo == true">
        <h3>Looks like you caught Nemo... Throw him back, he's gotta find his dad.</h3>
        <img  class="img-fluid offset-0 " src="/assets/nemo.jpg">
        <button (click)="Hide()" style="height: 50px">Reel In</button>
    </div>

    <!--Cast Line button and flavor text-->
    <div class="card col-8 col-md-4 offset-md-4 offset-2 bg-gray" *ngIf="displayRandom == true">
        <p class="card-header">{{ AllFish[this.random].name }}</p>
        <img style="max-height:300px" src="{{ AllFish[this.random].img_Src_Set.link1}}">
        <button (click)="addCaughtFish(AllFish[this.random].name, AllFish[this.random].img_Src_Set, AllFish[this.random].meta.scientific_Classification)" style="height: 50px;">🎣📋</button>
        <button (click)="Hide()" style="height: 50px">Release</button>
    </div>
</div>