<!-- <div class="cursor" #cursor></div> -->

<!--Pre-Login-->

<div class="bimg m-0">
  <div *ngIf="preLogin == true">
	<div *ngIf="!loggedIn"class="containter-fluid">
		<br><br><br><br><br>
		<div>
			<div class="offset-1 card bg-gray rounded-pill col-10 col-md-8 offset-md-2">	<!--Welcome message-->
				<div class="justify-content-center text-center p-4 pb-3 " >
					<h3>Welcome to<br>Fantasy Fishing!</h3>
					<p>
						It's just another cool day on the water here at All Blue.
					<br>Cast your line out and see what you can collect! We have over 900 fish for you to try and catch, but can you catch them all?
					<br>Catch rare fish and display them for your friends to see. Trophy fish abound these waters so try your luck.
					<br>Maybe you'll catch the Loch Ness Monster, who knows...
					</p> 


					<p class="p-0">Are you a new or returning user?</p>
					<div class="row">
						<p>
							<button click="preLogin = false && newUser == true" class="btn-gray rounded-pill mt-0 mb-1 p-2 pt-1 pb-1"><b>New User</b></button>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button class="btn-gray rounded-pill mt-0 mb-1 p-2 pt-1 pb-1"><b>Returning <asl-google-signin-button class="d-flex justify-content-center" *ngIf="!loggedIn" type='icon' size='medium'></asl-google-signin-button></b></button>
						</p>
					<p></p>
					</div>
				</div>
			</div>
		</div>

		<div class="fixed-bottom">
			<div class="pb-1 mb-1"></div>
			<div class="pb-1 mb-1"></div>
			<div>
				<span class="card foot bg-secondary text-center">© 2023 - Fantasy Fishers</span>
			</div>
		</div>
	</div>
  </div>
</div>

<!--New User/Tutorial Mode-->
<div *ngIf="newUser == true">
	<app-tutorial-mode></app-tutorial-mode>
</div>




<!--Once loggedin-->
<div class="m-0 myVideo" *ngIf="loggedIn">	
	<div class="pt-5 mt-5"></div>
	<video id="background-video" autoplay loop muted>
		<source src="https://static.vecteezy.com/system/resources/previews/008/044/230/mp4/speed-motor-boat-sailing-on-blue-sea-water-leaving-white-swirl-trails-behind-at-summer-aerial-view-from-above-of-speed-boat-trails-on-ocean-surface-in-bay-concept-of-water-activities-free-video.mp4" type="video/mp4">
	</video>

	<div class="card bg-gray1 rounded-pill col-8 offset-2 col-md-6 offset-md-3">
		<div class=" justify-content-center" >
			<h1 >Welcome {{ user.name }}</h1>
		</div>
	</div>

	<div class="fixed-bottom">
		<div class="card bg-gray1 rounded-pill col-6 offset-3 p-2">
			<div class=" justify-content-center" >
				<h4 class="text-center" [routerLink]="['/fishing']">Click here to head to All Blue</h4>
			</div>
		</div>
		<div class="pb-5 mb-5"></div>
		<div class="pb-5 mb-5"></div>
	</div>
</div>
