<div class="cursor" #cursor></div>



<div *ngIf="!loggedIn"class="bimg m-0">


	<br><br><br><br><br><br><br>
	<div>
		<div class=" offset-2 card bg-gray rounded-pill col-8">
			<div class="justify-content-center text-center p-4 pb-3 " >
			<h3>Welcome to<br>Fishing Fantasy!</h3>
			<p>
				It's just another cool day on the water here at The Lake of Eden.
				<br>Cast your line out and see what you connect we have over <!-- {{ Fish.count }} --> for you to try and catch.
				<br>Catch rare fish and display them for your friends to see. Trophy fish abound these waters so try your luck.<br>Maybe you'll catch the Loch Ness Monster, who knows.
			</p> 
			<p><b>Log in to play</b><asl-google-signin-button class="d-flex justify-content-center" *ngIf="!loggedIn" type='standard' size='medium'></asl-google-signin-button></p>
		</div>
		

		</div>
	</div>
	<div class="fixed-bottom">
		<div class="pb-1 mb-1"></div>
		<div class="pb-1 mb-1"></div>
	</div>
</div>

<div class="m-0 myVideo" *ngIf="loggedIn">	
	<div class="pt-5 mt-5"></div>
	<video id="background-video" autoplay loop muted>
		<source src="https://static.vecteezy.com/system/resources/previews/008/044/230/mp4/speed-motor-boat-sailing-on-blue-sea-water-leaving-white-swirl-trails-behind-at-summer-aerial-view-from-above-of-speed-boat-trails-on-ocean-surface-in-bay-concept-of-water-activities-free-video.mp4" type="video/mp4">
	  </video>
	<div class="card bg-gray1 rounded-pill col-6 offset-3 ">
		<div class=" justify-content-center" >
			<h1 >Welcome {{ user.name }}</h1>
		</div>
	</div>
	<br>
	<div class="fixed-bottom">
		<div class="card bg-gray1 rounded-pill col-6 offset-3 p-2">
			<div class=" justify-content-center" >
				<h4 class="text-center" [routerLink]="['/fishing']">Click here to head to the Lake of Eden</h4>
			</div>
	<div class="pb-5 mb-5"></div>
	<div class="pb-5 mb-5"></div>
</div>
</div>
